@use "../util/breakpoints.scss" as *;

header {
  width: 100%;
  height: 36vh;
  padding: 5vh 6%;
  background: var(--topBackground);
  color: var(--textVariant);

  @include breakpoint(tablet) {
    padding: 5vh 12%;
  }

  @include breakpoint(SDesktop) {
    height: 30vh;
    padding: 5vh 6%;
    display: flex;
    justify-content: space-between;
  }

  @include breakpoint(MDesktop) {
    padding: 4.55vh 7%;
  }
}

/* Title */
.title {
  position: relative;
  height: 12vh;
  margin-bottom: 2.5vh;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid var(--text);

    @include breakpoint(SDesktop) {
      display: none;
    }
  }

  h1 {
    margin-bottom: 1.48%;
    font-size: 1.5rem;

    @include breakpoint(tablet) {
      font-size: 2.5rem;
    }

    @include breakpoint(SDesktop) {
      font-size: 2rem;
    }

    @include breakpoint(MDesktop) {
      font-size: 1.95rem;
    }

    @include breakpoint(LDesktop) {
      font-size: 2.5rem;
    }
  }

  &__total {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--text);

    @include breakpoint(tablet) {
      font-size: 1.25rem;
    }

    @include breakpoint(SDesktop) {
      font-size: 0.875rem;
    }

    @include breakpoint(MDesktop) {
      font-size: 1rem;
    }

    @include breakpoint(LDesktop) {
      font-size: 1.25rem;
    }
  }

  @include breakpoint(MDesktop) {
    height: fit-content;
    margin: 0;
  }
}
