* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4478ff;
  --secondary: #87ff7c;
  --dark: #0c152d;
  --light: #f8faff;
}

html {
  font-family: "Futura Bk BT";
}

/* =========
      Navigation
    =========== */
nav {
  padding: 2.5rem 6.44vw 0 6.44vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 54.185%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Futura Lt BT";
  list-style: none;
}

.nav-links li {
  position: relative;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5%;
  border-radius: 5px;
  background: var(--dark);
  transition: all 250ms ease-in-out;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links li a {
  color: var(--dark);
  font-size: 2rem;
  text-decoration: none;
}

/* Only shown in mobile */
#nav-burger,
#nav-close,
#nav-overlay {
  display: none;
}

#nav-close {
  width: 8%;
}

/* =========
 Main Content
=========== */
main {
  width: 100%;
  padding: 0 6.302vw;
  padding-top: 7.87vh;
}

.projects__title {
  margin-bottom: 7.87vh;
  font-size: 6rem;
  font-family: "Futura Hv BT";
}

.projects__list__titles__title {
  font-size: 4rem;
}

.projects__list__titles__desc {
  font-size: 2rem;
}

.projects__list__cards__container {
  position: relative;
  left: -1vh;
  width: 100%;
  height: fit-content;
  padding: 7.87vh 0 12.129vh 1vh;
}

.projects__list__cards {
  --width: 23.5675rem;
  --height: 29.459375rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--width));
  grid-auto-rows: var(--height);
  align-items: center;
  gap: 2.25vw;
}

.projects__list__cards__card {
  width: 100%;
  height: 100%;
  background: var(--light);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.projects__list__cards__card__image__container {
  position: relative;
  width: 100%;
  height: 60%;
}

.projects__list__cards__card__image__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.projects__list__cards__card__image__container:hover::before {
  opacity: 1;
}

.projects__list__cards__card__image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: lightblue;
  user-select: none;
  z-index: 0;
}

.projects__list__cards__card__title {
  font-size: 1.5rem;
  font-family: "Futura Hv BT";
  text-align: center;
}

.projects__list__cards__card__desc {
  width: 72.25%;
  min-height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  margin: auto 0;
}

.projects__list__cards__card__buttons {
  width: 100%;
  min-height: 60.465%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.projects__list__cards__card__button {
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-decoration: none;
}

.projects__list__cards__card__button--github {
  min-width: 43.75%;
  background: var(--dark);
}

.projects__list__cards__card__button--live {
  min-width: 46.875%;
  background: var(--primary);
}

.projects__list__cards__card__button span {
  font-size: 1.25rem;
  color: var(--light);
}

.project-detail__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}

.project-detail__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  padding: 5.5% 2.5%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10%;
  background: var(--light);
  z-index: 1;
}

.project-detail__box__title {
  font-size: 4rem;
}

.project-detail__box__desc {
  font-size: 1.5rem;
}

.project-detail__box__close {
  position: absolute;
  top: 5%;
  right: 2.5%;
  width: 4%;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.project-detail__box__close:active {
  width: 3.75%;
}

.project-detail__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Large - 1600, 1536 */
@media only screen and (max-width: 100em) {
  .project-detail__box {
    width: 60%;
    height: 50%;
  }
}

/* Medium - 1440, 1366, 1280 */
@media only screen and (max-width: 85.375em) {
  .nav-links li a {
    font-size: 1.75rem;
  }

  .projects__list__cards {
    --width: 21.435rem;
    --height: 26.78rem;
  }
}

/* Small - 1024x768 */
@media only screen and (max-width: 64em) {
  .nav-links {
    width: 65%;
  }

  .projects__title {
    font-size: 5.5rem;
  }

  .projects__list__titles__title {
    font-size: 3.25rem;
  }

  .projects__list__titles__desc {
    font-size: 1.5rem;
  }

  .projects__list__cards__container {
    padding-top: 6vh;
  }

  .projects__list__cards__card__button--github {
    min-width: 45%;
  }

  .projects__list__cards__card__button--live {
    min-width: 50%;
  }

  .project-detail__box {
    width: 75%;
    padding: 5.5% 3.5%;
  }
}

/* Height < 768 */
@media only screen and (max-height: 48em) {
}

/* Tablet - 768x1024 */
@media only screen and (max-width: 48em) {
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    background: white;
    box-shadow: -10px 0 50px 10px rgba(12, 21, 45, 0.25);
    transition: all 250ms ease-in-out;
    z-index: 3;
    overflow: hidden;
  }

  #nav-burger {
    height: 3.3125rem;
    display: block;
    cursor: pointer;
  }

  #nav-close {
    position: absolute;
    top: 5%;
    left: 15%;
    display: block;
  }

  #nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(12, 21, 45, 0.25);
    z-index: 2;
  }

  .projects__list__cards__container {
    overflow: scroll;
  }

  .projects__list__cards__container::-webkit-scrollbar {
    display: none;
  }

  .projects__list__cards {
    height: var(--height);
    display: flex;
    justify-content: flex-start;
    gap: 3.75vw;
  }

  .projects__list__cards__card {
    min-width: 23.5675rem;
  }

  .project-detail__box {
    width: 85%;
    height: 40%;
  }

  .project-detail__box__title {
    font-size: 3rem;
  }
}

/* Phone - 360x640 */
@media only screen and (max-width: 22.5em) {
  nav {
    padding: 2.5rem 9.17vw 0 9.17vw;
  }

  .nav-logo,
  #nav-burger {
    height: 2rem;
  }

  #nav-close {
    width: 12%;
  }

  main {
    padding-top: 4.475vh;
  }

  .projects__title {
    margin-bottom: 3.75vh;
    font-size: 2.25rem;
    text-align: center;
  }

  .projects__list__titles__title {
    font-size: 1.5rem;
  }

  .projects__list__titles__desc {
    font-size: 1rem;
  }

  .projects__list__cards__container {
    padding-top: 1.875vh;
    padding-bottom: 3.9vh;
  }

  .projects__list__cards {
    --height: 16.8125rem;
  }

  .projects__list__cards__card {
    min-width: 13.4375rem;
  }

  .projects__list__cards__card__desc {
    gap: 0.5rem;
  }

  .projects__list__cards__card__title {
    font-size: 1.1rem;
  }

  .projects__list__cards__card__buttons__icon {
    width: 1rem;
    height: 1rem;
  }

  .projects__list__cards__card__button span {
    font-size: 0.8rem;
  }

  .project-detail__box {
    width: 90%;
    height: 75%;
  }

  .project-detail__box__title {
    font-size: 2rem;
  }

  .project-detail__box__desc {
    font-size: 1.25rem;
  }
}
