:root {
  --active: hsl(172, 67%, 45%);
  --inputText: hsl(183, 100%, 15%);
  --text: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --background: hsl(185, 41%, 84%);
  --inputBackground: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --warning: rgb(255, 115, 115);
}
